html,
body {
  background-color: white;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

#header {
  background-color: white;
}

#holder {
}

#body {
}

.footer {
  bottom: 0;
  position: fixed;
  background-color: white;
  width: 95%;
}

.btn-checked::before {
  border-color: #2d89ef !important;
  background: #2d89ef !important;
}

.checkbox::before {
  border-color: #0b98da !important;
}
